.cart-info {
  background-color: aliceblue;
  width: 350px;
  padding: 21px;
  border-radius: 10px;
  text-align: left;
}
.cart-info img {
  width: 350px;
  height: 200px;
  border-radius: 30px;
}

.add-btn {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(100, 100, 238);
  color: white;
  font-size: 18px;
  border: none;
}
